<!DOCTYPE html>
    <html lang="en">
    
    <%-include('partials/head') %>
    
        <body style="background-color: rgba(242, 245, 236, 0.87);">
        <%-include('partials/nav') %>
        <div class="container mb-5">
            <div clas="row">
                <div class="col mt-3 d-flex flex-column align-items-center">
                    <div class="card-body text-center border">
                        <img src="/image/golblum.png" width="180" height="160" class="rounded-circle border "/>
                        <h4><%= hiker%></h4>
                        <p>
                            <%= bio%>
                        </p>

                    </div justify-content-center>
                    <div class="row mx-n1 d-flex justify-content-center mt-3 w-80">
                        <div class="d-flex justify-content-center">
                            <h3>Hiking Buddies</h3>
                        </div>
                        <div class="lead">
                            <% if (plannedTrails.length===0) { %>
                              <p>Nothing to see</p>
                              <% } else { %>
                                <div class="row">
                                  <% plannedTrails.forEach((eachTrail)=> { %>
              
                                    <div class="col" style="margin-top: 1rem;">
              
                                      <div class="cards justify-content-center" style="width: 18rem;">
              
              
                                        <div class="card-body ">
              
                                          <h5 class="card-title" style="text-align: center; font-size:x-large;">
                                            <%=eachTrail.Trail.trailName %>
                                          </h5>
                                          <form method="post" action="/profile/<%=eachTrail.Trail.id%>?_method=PATCH">
                                            <input type="hidden" name="completed" value="true" />
                                            <button class="cardLink"><img src="https://img.icons8.com/color/50/000000/add-tag.png" width="25" height="25"/>
                                              Completed</button>
                                          </form>
              
                                        </div>
              
                                      </div>
                                    </div>
              
                                    <% }) %>
                                      <% }%>
                                </div>
                          </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Planned Hikes</h3>
                        <p class="lead"> Nothing to see here</p>

                        <hr class="my-4"/>            
                    </div>
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Completed Hikes</h3>
                        <div class="lead">
                            <% if (completedTrails.length===0) { %>
                              <p>Nothing to see</p>
                              <% } else { %>
                                <div class="row">
                                  <% completedTrails.forEach((eachTrail)=> { %>
              
                                    <div class="col " style="margin-top: 1rem;">
              
                                      <div class="cards justify-content-center" style="width: 18rem;">
              
              
                                        <div class="card-body">
              
                                          <h5 class="card-title" style="text-align: center; font-size:x-large;">
                                            <%=eachTrail.Trail.trailName %>
                                          </h5>
                                        </div>
              
                                      </div>
                                    </div>
              
                                    <% }) %>
                                      <% }%>
                                </div>
              
                          </div>
                    </div>
            </div>
            </div>
    </div>
            <script src="/js/hikerpage.js"></script>
      </body>
    
    </html>
        <script src="/js/hikerpage.js"></script>
  </body>

</html>