<!DOCTYPE html>
<html lang="en">

<%-include('partials/head') %>

  <body class="body">
    <%-include('partials/nav') %>
      <h1>
        <%= title %>
      </h1>
      <% hikers.forEach((hiker)=> { %>
        <h2>
          <%=hiker.firstName %>
        </h2>
        <a href="/hikers/<%=hiker.id %>">Go to Profile</a>
        <% })%>
  </body>

</html>