<!DOCTYPE html>
    <html lang="en">
    
    <%-include('partials/head') %>
    
      <body class="body">
        <nav class="navbar navbar-expand-sm  ">
            <div class="container-fluid">
              <a class="navbarBrand" href="#"><%= title %></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="navLink" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="navLink" href="/hikers">Hikers</a>
                  </li>
                  <li class="nav-item">
                    <a class="navLink" href="/trails">Trails</a>
                  </li>
                  <li class="nav-item">
                    <a class="navLink" href="/profile">My Page</a>
                  </li>
                </ul>
              </div>
              <li class="nav-item d-flex align-items-center border  text-white">
                <a class="navLink" style="background-color: eae3ea;" href="/edit">Edit Profile</a>
              </li>
            </div>
          </nav>
    
        <div class="container mb-5">
            <div clas="row">
                <div class="col mt-3 d-flex flex-column align-items-center">
                    <div class="card-body text-center border">
                        <img src="/image/golblum.png" width="180" height="160" class="rounded-circle border"/>
                        <h4><%= hiker%></h4>
                        <p>
                            <%= bio%>
                        </p>

                    </div justify-content-center>
                    <div class="row mx-n1 d-flex justify-content-center mt-3 w-80">
                        <div class="d-flex justify-content-center">
                            <h3>Hiking Buddies</h3>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center ">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>
                        <div class="col-md-3 mb-3 px-1 d-flex flex-column align-items-center">
                            <p>Friend</p>
                            <a  href="not there yet">
                                <img src="/image/golblum.png" width="90" height="80" class="rounded-circle border "/>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Planned Hikes</h3>
                        <div class="lead">
                            <% if (plannedTrails.length === 0) { %>
                                <p>Nothing to see</p>
                                <% } else { %>
                                  <div class="row">
                                  <% plannedTrails.forEach((eachTrail) => { %>

             <div class="col-sm-4 " style="margin-top: 1rem;">
   
               <div class="cards justify-content-center" style="width: 18rem;">
   
   
                 <div class="card-body">
   
                   <h5 class="card-title" style="text-align: center; font-size:x-large;">
                     <%=eachTrail %>
                   </h5>
                   <form>
                     <button class="cardLink"><img src="https://img.icons8.com/color/50/000000/add-tag.png"/> Completed</button>
                   </form>
                   
                 </div>
   
               </div>
             </div>
             
             <% }) %>
             <%  }%>
            </div>                         
                      </div>

                        <hr class="my-4"/>     
                        <a class="btn btn-primary mb-2" href="/trails" role="button">Add a Hike</a>            
                    </div>
                    <div class="jumbotron text-center mb-5" style="background-color: azure;">
                        <h3 class="display-4">Completed Hikes</h3>
                        <p class="lead">Nothing to see here</p>
                    </div>
            </div>
            </div>
    </div>
            <script src="/js/hikerpage.js"></script>
      </body>
    
    </html>
        <script src="/js/hikerpage.js"></script>
  </body>

</html>