<!DOCTYPE html>
<html lang="en">

<%-include('partials/head') %>

  <body class="body">
    <%-include('partials/nav') %>
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            <%= title %>
          </h1>
        </div>
      </div>
      <div class="row">
        <% trails.forEach((trail)=> { %>

          <div class="col-sm-4 " style="margin-top: 1rem;">

            <div class="cards justify-content-center" style="width: 18rem;">


              <div class="card-body">

                <h5 class="card-title" style="text-align: center; font-size:x-large;">
                  <%=trail.trailName %>
                </h5>
                
                <p class="card-text">
                  <%=trail.description %>
                </p>
                <a href="#" class="cardLink"><img src="https://img.icons8.com/color/50/000000/add-tag.png"/> Add to Planned Hikes</a>
                
              </div>

            </div>
          </div>
          <% })%>
      </div>






  </body>

</html>