<!DOCTYPE html>
<html lang="en">

<%-include('partials/head') %>

  <body>
    <%-include('partials/nav') %>
      <h1>
        <%= title %>
      </h1>
      <% trails.forEach((trail)=> { %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> <%=trail.trailName %> </h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text"><%=trail.description %> </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
          <% })%>
        </div>
      
  </body>

</html>